body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.08)), url("wordleBackground.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.grid {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 100px;
  height: 50%;
}

.box {
  width: 50px;
  height: 50px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.158);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#onSubmit{
  justify-items: center;
  justify-content: center;
}
/* Text box to guess word*/
#word-input {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.285);
  padding: 0.5em;
  margin: 0.5em;
  font-size: 1em;
  border-radius: 10px;
  border: 10px solid rgb(0, 81, 255);
  font-family: "Times New Roman";
}

#go-button {
  position: relative;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.265);
  padding: 0.5em 1em;
  margin: 0.5em;
  font-size: 1em;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

#again-button {
  position: relative;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.265);
  padding: 0.5em 1em;
  margin: 0.5em;
  font-size: 1em;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  display: none;
}

.letter {
  /* flex: 1; */
  font-weight: bold;
  width: 100%;
  font-size: 2em;
  padding: 0.05em;
  margin: 0.4em;
  color: black;
}

.letCont{
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  margin-left: 10px;
  margin-right: 10px;
  /* gap: 10px;
  grid-auto-rows: 100px; */
}

.error{
  position: absolute;
  visibility: hidden;
  /* width: 100%; */
  font-size: 1em;
  /* margin: 0.1em; */
  color: red;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px){
  .grid{
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .box{
    width: 45px;
    height: 45px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
  }

  .letCont{
    grid-template-columns: repeat(7, 1fr);
  }

  .letter{
    font-size: 1.5em;
    padding: 0.03em;
    margin: 0.1em;
  }
}

@media screen and (max-width: 480px){
  .grid{
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .box{
    width: 35px;
    height: 35px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 23px;
  }

  #word-input{
    width: 190px;
  }

  .letCont{
    grid-template-columns: repeat(7, 1fr);
  }

  .letter{
    font-size: 1.5em;
    padding: 0.03em;
    margin: 0.1em;
  }
}
